* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #ccc;
}

body h1 {
    margin: 24px 0;
    margin-top: 6px;
    padding: 8px;
    border-bottom: 4px solid;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px;
}

.cadastro {
    width: 500px;
    height: 460px;
    max-width: 100%;
    border: 2px solid;
    border-radius: 16px;
    background-color: #fff;
}

.form {
    width: 90%;
    justify-content: center;
    margin-left: 5%;
}

.form input {
    width: 100%;
    display: block;
    justify-content: center;
    padding: 8px;
    margin-bottom: 16px;
}

.form  button {
    padding: 8px;
    margin: 16px;
    background-color: rgb(22, 189, 22);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form  button:hover {
    padding: 7px;
    background-color: rgb(6, 165, 6);
}